<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Thanks for the order! <%= @order.email %></h1>
    <p>
    You paid @order.total_cents
    </p>
    <p>
    </p>
    <p>Thank you for shopping with us and have a good day!</p>
  </body>
</html>